# Template: Buildout Vorlage fuer neue Plone Instancen
# see http://plone.org/documentation/manual/developer-manual/managing-projects-with-buildout/referencemanual-all-pages

[buildout]
zope-directory=..
eggs-directory=${buildout:zope-directory}/buildout-cache/eggs
download-cache=${buildout:zope-directory}/buildout-cache/downloads

parts =
    zopepy
    chown 
# (siehe chown-zeo)
    repozo    
    atcontenttypes-conf
    backup
    zopeskel
    unifiedinstaller
    test
    logrotate
# logrotatecronjob
    
find-links =
    http://dist.plone.org
    http://download.zope.org/ppix/
    http://download.zope.org/distribution/
    http://effbot.org/downloads   
    http://static.domenkozar.com
    http://dist.plone.org/release/4.3   

extends =
    http://dist.plone.org/release/4.3/versions.cfg
# http://good-py.appspot.com/release/dexterity/1.2.1?plone=4.2

# Don't download new things unless needed to satisfy dependencies.
# Override this on the command line with the "-n" flag.
newest = false
# pick final releases over newer development releases
prefer-final = true
versions = versions
sources = sources
auto-checkout = 
    rohberg.doorman
always-checkout = false
# unzip all eggs for easier debugging
unzip = true
show-picked-versions = true
extensions = 
    mr.developer
extends-cache = ${buildout:zope-directory}/buildout-cache/downloads/extends

user = admin:xyz

# ############################################################################################

eggs = 
    ${eggs:main}
    ${eggs:devtools}
    
zcml =
    archetypes.schemaextender
    Products.AddRemoveWidget

develop =
# src/rohberg.trallala
    
# ############################################################################################

# Backup Directory
# ----------------
# Sets the target directory for the bin/backup and bin/snapshotbackup
# commands. Default is inside this project's var directory, but ideally
# this should be on a separate volume or backup server.
# 
backups-dir=${buildout:directory}/var/backup
# backups-dir="/home/vertecftpweb/backup_corporate"
# zope2-location = ${buildout:zope-directory}

[eggs]
main =    
    Plone
    Pillow
    lxml
    ${buildout:auto-checkout}
    Products.DocFinderTab
    plone.reload
    BeautifulSoup
# Products.PDBDebugMode
# z3c.unconfigure  
    collective.autopermission
    simplejson
    Products.AdvancedQuery
    Products.LinguaPlone
    archetypes.schemaextender
    Products.AddRemoveWidget
    Products.ImageEditor
    Products.PloneKeywordManager
    plone.portlet.collection
    Products.fatsyndication
    Products.basesyndication
    
devtools =
    plone.reload
    Products.PDBDebugMode
    Products.DocFinderTab
test =
    rohberg.doorman [test]


[versions]
BeautifulSoup = 3.2.1

# 4.2.4 #
ZopeSkel = 2.21.2
plone.recipe.unifiedinstaller = 4.1
lxml = 2.3.6
Cheetah = 2.2.1
Pillow = 1.7.8
Products.DocFinderTab = 1.0.5
collective.recipe.backup = 2.8
plone.recipe.command = 1.1


[zopepy]
recipe = zc.recipe.egg
eggs = 
    ${eggs:main}
    ${eggs:devtools}
interpreter = zopepy
# extra-paths = ${buildout:zope2-location}/lib/python
scripts = zopepy

[chown]
# This recipe is used to set permissions -- and ownership for root mode installs
# For options see http://pypi.python.org/pypi/plone.recipe.command
recipe = plone.recipe.command
command =echo Dummy references to force this to execute after referenced parts
# echo ${backup:location} ${unifiedinstaller:sudo-command}
    echo ${backup:location} 
    chmod 600 .installed.cfg
# # find directory/var -type d -exec chmod 700 {} \; #
#     find ${buildout:directory}/var -type d -exec chmod 755 {} \;
#     find ${buildout:directory}/var -type f -exec chmod 644 {} \;
    chmod 744 ${buildout:directory}/bin/*
update-command = ${chown:command}


[repozo]
recipe = zc.recipe.egg
eggs = ZODB3
scripts = repozo

[backup]
# This recipe builds the backup, restore and snapshotbackup commands.
# For options see http://pypi.python.org/pypi/collective.recipe.backup
recipe = collective.recipe.backup
location = ${buildout:backups-dir}/backups
snapshotlocation = ${buildout:backups-dir}/snapshotbackups
backup_blobs = true
blob_storage = ${buildout:directory}/var/blobstorage
blobbackuplocation = ${buildout:backups-dir}/blobstoragebackups
blobsnapshotlocation = ${buildout:backups-dir}/blobstoragesnapshots


[zopeskel]
# installs paster and Zopeskel
recipe = zc.recipe.egg
eggs =
    ZopeSkel<2.99
    Paste
    PasteDeploy
    PasteScript
    zopeskel.dexterity
    ${buildout:eggs}


[users]
main = www
cache = www
balancer = www
zope = admin
supervisor-admin = admin

[passwords]
zope = tulpe
supervisor-admin = GuckDrauf-4


[logrotate]
recipe = collective.recipe.template
input = templates/logrotate.conf
output = ${buildout:directory}/etc/logrotate.conf

[logrotatecronjob]
recipe = z3c.recipe.usercrontab
times = 5 3 * * *
command = /usr/sbin/logrotate -s ${buildout:directory}/var/log/logrotate-status ${buildout:directory}/etc/logrotate.conf

[sources]
rohberg.doorman = git git@github.com:ksuess/rohberg.doorman.git

[test]
recipe = zc.recipe.testrunner
eggs =
    ${buildout:eggs}
    